.App {
  min-height: 100vh;
}

.App-header {
  display: contents;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;

  color: #4e5871;
}

.chart-description {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.chart-container {
  width: 99%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  height: 60vh;
  margin-top: 20px;
  background-color: #a16869;
}
