.home {
  display:contents;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40px;
  bottom: 20px;
  width: 100%;
}

.welcome {
  height: calc(100vh - 58px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  position: relative;
  padding-bottom: 50px;
  color: rgb(3, 48, 118); /* Sets the heading font to the theme's navy colour without affecting other h1 tags */
  max-width: 75vw;
  /* top: calc(100vh - (553.217px * 1.5));*/ /* Disabled due to screen size issues */
}

#logo {
  max-width: 25vw;
  max-height: 25vh;
  width: auto;
  height: auto;
}

#arrow {
  display:none; /* Display: none to hide the arrow until we find a way to make it work with smaller screen sizes */
  position: absolute;
  top: calc(100vh - 250px);
  left: calc((75vw / 2) - (77.1167px / 2));
  max-width: 50vw;
  max-height: 5vh;
  width: auto;
  height: auto;
}

#arrow:hover {
  opacity: 0.8;
}

p { /* Sets the default paragraph font to the theme's navy colour */
  color: rgb(3, 48, 118);
}
