.urgentSupportPage {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 35px;
}

.fixed-height-img {
    height: 200px; 
    object-fit: contain; 
    width: 100%;
}

#intro {
    margin-top: 50px; /* Optional: Add margin to push it further down the page */
    margin-bottom: 50px;
    text-align: center;
}

h1 {
    text-align: center;
}